.blog {
  background: url("../images/blog-banner.jpg") 50% no-repeat;
  background-size: cover;
}
.blog .blog__heading {
  color: var(--light-color);
  font-size: 38px;
  font-weight: 600;
  padding: 172px 0;
  line-height: normal;
}
@media only screen and (max-width: 1023px) {
  .blog .blog__heading {
    padding: 65px 0;
  }
}
