/* GLOBAL ELEMENT */
.button-cart {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12.8px 40px;
  border-radius: 4px;
  background: #ffe9cc;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  transition: background 0.2s linear;
  font-size: 16.5px;
}
.button-cart:hover {
  color: var(--light-color);
  background: var(--primary-color);
}
/* GLOBAL ELEMENT */

.category {
  padding: 30px 0 15px 0;
}
.breadcrumbs {
  --color-text: #5d5d5d;
  list-style: none;
  background: #f5f6f9;
  border-radius: 10px;
  padding: 25px 0 15px 0;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li + li::before {
  content: "/\00a0";
  padding: 6px;
  color: var(--color-text);
}
.breadcrumbs li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: #9ca3af;
  text-transform: capitalize;
}
.camera .camera-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-color);
  padding: 24px;
  gap: 24px;
}
.camera .camera-left {
  display: flex;
  gap: 24px;
}
.camera .heading {
  font-size: 28px;
  font-weight: 600;
  line-height: 36.4px;
  margin-bottom: 12px;
}
.camera .camera-left__image {
  max-width: 425px;
  width: 100%;
  flex-shrink: 0;
}
.camera .camera-left img {
  width: 100%;
  object-fit: cover;
}
.camera .camera-content__text {
  font-size: 14px;
}
.camera .camera-content__text span:first-child {
  color: #9ca3af;
  text-transform: capitalize;
}
.camera .camera-content__text span:last-child {
  color: var(--dark-color);
  text-transform: uppercase;
}
.camera .camera-content__price {
  border-top: 1px solid #d9dbe1;
  padding-top: 12px;
  margin-top: 14px;
  display: flex;
  align-items: center;
}
.camera .camera-content__price span:nth-child(1) {
  font-size: 28px;
  font-weight: 600;
  color: #db3700;
  margin-right: 10px;
}
.camera .camera-content__price span:nth-child(2) {
  color: #9ca3af;
  font-size: 16px;
  text-decoration: line-through;
}
.camera .camera-content__status {
  font-size: 18px;
  font-weight: 600;
  color: #006644;
  margin-bottom: 8px;
}
.camera .camera-content__desc {
  padding: 10px;
  border: 1px solid #d9dbe1;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #30404d;
  list-style: none;
}
.camera .camera-content__desc li:not(:last-child) {
  margin-bottom: 2.5px;
}
.camera .camera-content__desc--second {
  border: transparent;
  padding: unset;
}
.camera .camera-content__count {
  display: flex;
  align-items: center;
  gap: 48px;
}
.camera .camera-content__count span {
  font-weight: 600;
}
.camera .camera-quantity {
  display: flex;
  border-radius: 12px;
  max-width: 110px;
}
.camera .camera-quantity button,
.quantity__value {
  border: none;
  outline: none;
}
.quantity__value {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #d9dbe1;
  border-left: transparent;
  border-right: transparent;
}
.quantity__minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.quantity__plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.quantity__value::-webkit-outer-spin-button,
.quantity__value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity__value[type="number"] {
  -moz-appearance: textfield;
}
.camera .camera-quantity button {
  padding: 7px;
  background-color: var(--light-color);
  border: 1px solid #d9dbe1;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.camera .camera-quantity button:focus {
  outline: auto;
}
.camera .camera-quantity button ion-icon {
  font-size: 16px;
}
.camera .camera-content__button {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  margin-top: 20px;
}
.camera .camera-content__button ion-icon {
  font-size: 28px;
}
.camera .camera-right {
  max-width: 314px;
  width: 100%;
  flex-shrink: 0;
}
.camera .camera-right__group {
  padding: 20px 16px;
  border: 1px solid #d1d5db;
}
.camera .camera-right__group + .camera-right__group {
  margin-top: 22px;
}
.camera .camera-right__group h2 {
  font-weight: 600;
  color: #111827;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.camera .camera-right__group-list {
  list-style: none;
}
.camera .camera-right__group-list li {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--dark-color);
}
.camera .camera-right__group-list li:not(:first-child) {
  margin-top: 20px;
}
.camera .camera-right__group-list a {
  color: #2061b3;
  transition: color linear 0.2s;
}
.camera .camera-right__group-list a:hover {
  color: var(--primary-color);
}
.camera .camera-right__group-list img {
  max-width: 32px;
}
.camera .cameraCamera {
  text-align: center;
  background-color: red;
}
.main {
  padding: 24px 0;
}
.main .main__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}
.main .main-left {
  flex: 1;
}
.main .main-left__content,
.main-left__camera {
  padding: 24px;
  background: var(--light-color);
}
.main .main-left__content h2 {
  line-height: 1.4;
  font-size: 22.8px;
  margin-bottom: 18px;
  font-weight: 400;
}
.main .main-left__content p {
  display: block;
  margin-bottom: 18px;
  line-height: 1.6;
  text-align: justify;
}
.main .main-left__camera {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  transition: box-shadow 0.2s linear;
}
.main .main-left__camera:hover {
  box-shadow: 0 8px 25px rgb(37 56 88 / 15%);
}
.main .main-left__camera:hover .main-left__camera-image {
  transform: scale(1);
}
.main .main-left__camera-image {
  max-width: 165px;
  transform: scale(0.9);
  transition: transform 0.2s linear;
}
.main .main-left__camera-content {
  flex: 1;
}
.main .main-left__camera-content .heading {
  font-size: 28px;
  font-weight: 600;
  line-height: 36.4px;
  color: #30404d;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.main .main-left__camera-image img {
  object-fit: cover;
  width: 100%;
}
.main .main-left__camera-content span {
  color: #9ca3af;
  line-height: 24px;
}
.main .main-left__price {
  margin-bottom: 14px;
}
.main .main-left__price span {
  font-size: 20px;
  font-weight: 600;
  color: #db3700;
  margin-right: 8px;
}
.main .main-left__price s {
  color: #9ca3af;
  font-weight: 600;
}
.main .main-left__buy {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
}
.main .main-left__buy ion-icon {
  font-size: 28px;
}
.main .main-right {
  max-width: 442px;
  width: 100%;
  flex-shrink: 0;
  padding: 24px;
  background: var(--light-color);
  position: sticky;
  top: 2rem;
}
.main .main-right__heading {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}
.main .main-right table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.main .main-right table tr:nth-child(odd) {
  background-color: #fafbfc;
}
.main .main-right table td,
.main-right table th {
  padding: 8px 12px;
  font-size: 12px;
}
.main .main-right table th {
  width: 40%;
}
.main .main-right table td {
  width: 60%;
}
.partner .heading {
  font-size: 28px;
}

/* Responsive All Screen */
@media only screen and (max-width: 1439px) {
  .camera .camera-wrapper,
  .main .main-left__camera {
    flex-direction: column;
  }
  .camera .camera-wrapper > * {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .camera .camera-left,
  .main .main__container {
    flex-direction: column;
  }
  .main .main-right {
    position: unset;
    max-width: 100%;
  }
  .main .main-right table td,
  .main-right table th {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .camera .heading {
    font-size: 20px;
    line-height: normal;
  }
  .camera .camera-wrapper {
    padding: 15px;
  }
  .camera .camera-content__button {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
  .main .main-left__buy {
    flex-direction: column;
    gap: 12px;
  }
  .button-cart {
    justify-content: center;
  }
  .camera .camera-left {
    gap: 12px;
  }
  .main .main-left__content h2 {
    font-size: 20px;
  }
  .main .main-left__content p {
    font-size: 14px;
  }
  .main .main-left__content {
    padding: 15px;
  }
  .breadcrumbs{
    padding: 15px 0;
  }
  .breadcrumbs li + li::before {
    padding: 2px;
  }
}
