/* GLOBAL ELEMENT */
.button-cart {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12.8px 40px;
  border-radius: 4px;
  background: #ffe9cc;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  transition: background 0.2s linear;
  font-size: 16.5px;
}
.button-cart:hover {
  color: var(--light-color);
  background: var(--primary-color);
}
/* GLOBAL ELEMENT */

.category {
  padding: 30px 0 15px 0;
}
.category .list-category__item,
.list-category__dash {
  font-size: 14px;
  color: #9ca3af;
  line-height: 21px;
}
.category .list-category__item {
  text-decoration: none;
}
.category .list-category__dash {
  padding: 0 6px;
}
.product .product-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-color);
  padding: 24px;
  gap: 24px;
}
.product .product-left {
  display: flex;
  gap: 24px;
}
.product .heading {
  font-size: 28px;
  font-weight: 600;
  line-height: 36.4px;
  margin-bottom: 12px;
}
.product .product-left__image {
  max-width: 425px;
  width: 100%;
  flex-shrink: 0;
}
.product .product-left img {
  width: 100%;
  object-fit: cover;
}
.product .product-content__text {
  font-size: 14px;
}
.product .product-content__text span:first-child {
  color: #9ca3af;
  text-transform: capitalize;
}
.product .product-content__text span:last-child {
  color: var(--dark-color);
  text-transform: uppercase;
}
.product .product-content__price {
  border-top: 1px solid #d9dbe1;
  padding-top: 12px;
  margin-top: 14px;
  display: flex;
  align-items: center;
}
.product .product-content__price span:nth-child(1) {
  font-size: 28px;
  font-weight: 600;
  color: #db3700;
  margin-right: 10px;
}
.product .product-content__price span:nth-child(2) {
  color: #9ca3af;
  font-size: 16px;
  text-decoration: line-through;
}
.product .product-content__status {
  font-size: 18px;
  font-weight: 600;
  color: #006644;
  margin-bottom: 8px;
}
.product .product-content__desc {
  padding: 10px;
  border: 1px solid #d9dbe1;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #30404d;
}
.product .product-content__desc--second {
  border: transparent;
  padding: unset;
}
.product .product-content__count {
  display: flex;
  align-items: center;
  gap: 48px;
}
.product .product-content__count span {
  font-weight: 600;
}
.product .product-quantity {
  display: flex;
  border-radius: 12px;
  max-width: 110px;
}
.product .product-quantity button,
.quantity__value {
  border: none;
  outline: none;
}
.quantity__value {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #d9dbe1;
  border-left: transparent;
  border-right: transparent;
}
.quantity__minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.quantity__plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.quantity__value::-webkit-outer-spin-button,
.quantity__value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity__value[type="number"] {
  -moz-appearance: textfield;
}
.product .product-quantity button {
  padding: 7px;
  background-color: var(--light-color);
  border: 1px solid #d9dbe1;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.product .product-quantity button:focus {
  outline: auto;
}
.product .product-quantity button ion-icon {
  font-size: 16px;
}
.product .product-content__button {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  margin-top: 20px;
}
.product .product-content__button ion-icon {
  font-size: 28px;
}
.product .product-right {
  max-width: 314px;
  width: 100%;
  flex-shrink: 0;
}
.product .product-right__group {
  padding: 20px 16px;
  border: 1px solid #d1d5db;
}
.product .product-right__group + .product-right__group {
  margin-top: 22px;
}
.product .product-right__group h2 {
  font-weight: 600;
  color: #111827;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.product .product-right__group-list {
  list-style: none;
}
.product .product-right__group-list li {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--dark-color);
}
.product .product-right__group-list li:not(:first-child) {
  margin-top: 20px;
}
.product .product-right__group-list a {
  color: #2061b3;
  transition: color linear 0.2s;
}
.product .product-right__group-list a:hover {
  color: var(--primary-color);
}
.product .product-right__group-list img {
  max-width: 32px;
}
.main {
  padding: 24px 0;
}
.main .main__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}
.main .main-left {
  flex: 1;
}
.main .main-left__content,
.main-left__product {
  padding: 24px;
  background: var(--light-color);
}
.main .main-left__product {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  transition: box-shadow 0.2s linear;
}
.main .main-left__product:hover {
  box-shadow: 0 8px 25px rgb(37 56 88 / 15%);
}
.main .main-left__product:hover .main-left__product-image {
  transform: scale(1);
}
.main .main-left__product-image {
  max-width: 165px;
  transform: scale(0.9);
  transition: transform 0.2s linear;
}
.main .main-left__product-content {
  flex: 1;
}
.main .main-left__product-content .heading {
  font-size: 28px;
  font-weight: 600;
  line-height: 36.4px;
  color: #30404d;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.main .main-left__product-image img {
  object-fit: cover;
  width: 100%;
}
.main .main-left__product-content span {
  color: #9ca3af;
  line-height: 24px;
}
.main .main-left__price {
  margin-bottom: 14px;
}
.main .main-left__price span {
  font-size: 20px;
  font-weight: 600;
  color: #db3700;
  margin-right: 8px;
}
.main .main-left__price s {
  color: #9ca3af;
  font-weight: 600;
}
.main .main-left__buy {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
}
.main .main-left__buy ion-icon {
  font-size: 28px;
}
.main .main-right {
  max-width: 442px;
  width: 100%;
  flex-shrink: 0;
  padding: 24px;
  background: var(--light-color);
}
.main .main-right__heading {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
}
.main .main-right__desc {
  color: var(--dark-color);
  font-size: 14px;
  line-height: 24px;
}
.partner .heading {
  font-size: 28px;
}
