/* GLOBAL ELEMENT */
.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 36.4px;
  margin-right: 4px;
}
.count {
  font-size: 18px;
}
/* GLOBAL ELEMENT */

.stati .stati__container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 24px;
}
.stati .stati-left {
  flex: 1;
}
.stati .stati-item {
  padding: 32px 24px;
  background-color: var(--light-color);
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.stati .stati-main {
  gap: 16px;
  display: flex;
  flex: 1;
}
.stati .stati-main img {
  max-width: 100px;
  height: 100%;
  object-fit: cover;
}
.stati .stati-content__heading {
  color: #30404d;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 26px;
  display: inline-block;
}
.stati .stati-content__group {
  font-size: 14px;
}
.stati .stati-content__group + .stati-content__group {
  margin-top: 10px;
}
.stati .stati-content__group span:nth-child(1) {
  color: #9ca3af;
}
.stati .stati-right {
  max-width: 442px;
  width: 100%;
}
.stati .stati-right > div {
  padding: 24px;
  background: var(--light-color);
  margin-bottom: 24px;
}
.stati .stati-right__total {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.stati .stati-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.stati .stati-group + .stati-group {
  padding: 14px 0;
}
.stati .stati-group b {
  font-weight: 600;
  font-size: 18px;
}
.stati .stati-group:nth-child(3) {
  border-bottom: 1px solid #d9dbe1;
  padding-bottom: 25px;
}
.stati .stati-group__price {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
}
.stati .stati-quantity {
  display: flex;
  border-radius: 12px;
  max-width: 110px;
}
.stati .stati-quantity button,
.stati-quantity input {
  border: none;
  outline: none;
}
.stati .stati-quantity input {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #d9dbe1;
  border-left: transparent;
  border-right: transparent;
}
.stati .stati-quantity__minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.stati .stati-quantity__plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.stati .stati-quantity input::-webkit-outer-spin-button,
.stati .stati-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.stati .stati-quantity input[type="number"] {
  -moz-appearance: textfield;
}
.stati .stati-quantity button {
  padding: 7px;
  background-color: var(--light-color);
  border: 1px solid #d9dbe1;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.stati .stati-quantity button:focus {
  outline: auto;
}
.stati .stati-quantity button ion-icon {
  font-size: 16px;
}
.stati-wrapper__price {
  margin-top: 10px;
  text-align: right;
  display: block;
}
.stati .stati-wrapper__remove {
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  transition: 0.2s linear;
  display: inline-block;
  float: right;
}
.stati .stati-wrapper__remove:hover {
  color: var(--primary-color);
}
.cart,
.stati {
  padding: 80px 0;
  background-color: #f3f4f6;
}
.stati .btn {
  width: 100%;
  text-align: center;
}
.cart .cart-content {
  text-align: center;
  background-color: var(--light-color);
  padding: 32px 12px;
  margin-top: 24px;
}
.cart .cart-content img {
  max-width: 100%;
}
.cart .cart-content__desc {
  padding-bottom: 32px;
}
.productSecond {
  padding: 40px 0;
  text-align: center;
}
.productSecond .heading {
  margin-bottom: 30px;
}
.productSecond .productSecond-list {
  --columns: 5;
  animation: effect 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.productSecond .btn {
  margin-top: 30px;
}