.productSecond .productSecond-group__heading {
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0 12px 0;
}
.productSecond .productSecond-group:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9dbe1;
}
.productSecond .productSecond-box {
  display: flex;
  flex-wrap: wrap;
  --columns: 2;
  --gap: 8px;
  --spacing: calc(((var(--columns) - 1) * var(--gap)) / var(--columns));
  gap: var(--gap);
}
.productSecond .productSecond-checkbox {
  width: calc((100% / var(--columns)) - var(--spacing));
  display: flex;
  align-items: center;
}
.productSecond .productSecond-group input {
  margin-right: 10px;
}
.productSecond label {
  font-size: 14px;
  line-height: 21px;
  margin-right: 4px;
}
.productSecond small {
  font-size: 11.2px;
}
.productSecond .productSecond-group input[type="checkbox"] {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.productSecond .productSecond-checkbox img {
  max-width: 128px;
  object-fit: cover;
  display: inline-block;
}
.productSecond .productSecond-tag {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.productSecond .productSecond-tab {
  background: #e5e7eb;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin: 16px 0 20px 0;
  font-size: 14px;
}
.productSecond .productSecond-tab__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.productSecond .productSecond-tab__list-item {
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 3px;
  font-weight: 600;
  background: var(--light-color);
  user-select: none;
}
.productSecond .productSecond-tab__list-item--active {
  background-color: var(--primary-color);
  color: var(--light-color);
}
.productSecond .productSecond-tab__text {
  font-size: 14px;
  color: #374151;
}
.productSecond .productSecond-list {
  display: none;
}
.productSecond .productSecond-list.active {
  display: flex;
}
.productSecond .productSecond-category__list-link--active {
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .productSecond .productSecond-tab {
    justify-content: center;
  }
}