.map {
  padding: 40px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.map .heading {
  margin-bottom: 24px;
}
.map .map-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.map .map-left {
  flex: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.map .map-left iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.map .map-right {
  max-width: 442px;
  width: 100%;
}
.map .map-list {
  margin-top: 20px;
  background-color: #f3f4f6;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-height: 686px;
  overflow-y: auto;
  overscroll-behavior: none;
}
.map .map-list::-webkit-scrollbar {
  width: 8px;
}
.map .map-list::-webkit-scrollbar-thumb {
  background: #d9dbe1;
  border-radius: 4px;
}
.map .map-item {
  cursor: pointer;
  border: 1px solid #d9dbe1;
  background-color: var(--light-color);
}
.map .map-item__content,
.map-contact {
  padding: 16px;
}
.map h4 {
  color: #374151;
  font-weight: bold;
}
.map .map-contact {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #d9dbe1;
}
.map .map-contact img {
  max-width: 20px;
}
.map .map-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.map .map-contact__left-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.map .map-contact__left-group + .map-contact__left-group {
  margin-top: 8px;
}
.map .map-contact__left-group a {
  text-decoration: none;
  color: #2061b3;
  font-weight: bold;
}
.map .map-contact__right {
  background-color: #ffe9cc;
  padding: 6px 12px;
  border-radius: 4px;
  color: #ff5100;
  font-size: 12px;
}
.form {
  padding: 40px 0;
}
.form .form__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.form .form-col__input::-webkit-outer-spin-button,
.form .form-col__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form .form-col__input[type="number"] {
  -moz-appearance: textfield;
}
.form .form-left {
  flex: 1;
}
.form .form-left__heading {
  color: #111827;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.form .form-col {
  margin-bottom: 16px;
}
.form .form-col textarea {
  resize: none;
}
.form .form-col__input,
textarea {
  outline: none;
  border: 1px solid #d1d5db;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.form .form-right {
  max-width: 664px;
  width: 100%;
  flex-shrink: 0;
}
.form .form-right img {
  width: 100%;
}
