.banner img {
  width: 100%;
}
.content {
  padding: 90px 80px;
  margin: 0 auto;
  max-width: 1097px;
  color: #374151;
  font-size: 28px;
  font-weight: 600;
  line-height: 36.4px;
}
.client {
  background-color: #05115b;
  padding: 40px 0;
}
.client .client__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1376px;
}
.client .client-item {
  text-align: center;
  color: var(--light-color);
  font-weight: 600;
  font-size: 16px;
  flex: 1;
}
.client .client-content__number {
  font-size: 28px;
  padding: 28px 0 8px 0;
  letter-spacing: 2.4px;
}
.block {
  padding: 40px 0;
}
.block .block__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.block .block__container--reverse {
  flex-direction: row-reverse;
}
.block .block-content {
  max-width: 676px;
  width: 100%;
}
.block .heading {
  padding: 28px 0;
}
.block .block-content__desc span {
  font-weight: bold;
  display: block;
  line-height: 24px;
}
.block .block-image {
  width: 100%;
  max-width: 624px;
}