.success {
  padding: 80px 0;
}
.success .success-wrapper {
  background: var(--light-color);
  padding: 32px;
  text-align: center;
}
.success .success-image {
  max-width: 90px;
  margin-bottom: 6px;
  display: inline-block;
}
.success .success-heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}
.success .success-desc {
  max-width: 415px;
  margin: 0 auto;
}
.success .success-phone {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.success .success-phone__border {
  width: 8px;
  height: 1.2px;
  margin: 0 4px;
  display: inline-block;
  background-color: #0f0f0f;
}
.success .success-phone a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
}
.success .success-text {
  margin-bottom: 32px;
  display: block;
}