.post {
  padding: 26px 0;
  text-align: center;
}
.post .post-wrapper {
  max-width: 900px;
  margin: 0 auto;
}
.post-date,
.post-caption {
  font-size: 14px;
}
.post-date {
  color: #9ca3af;
}
.post .post-heading {
  color: #111827;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 26px;
}
.post .post-main {
  position: relative;
}
.post .post-image {
  padding-bottom: 56.25%;
}
.post .post-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post .post-content {
  margin-top: 40px;
  text-align: left;
  line-height: 24px;
}
.news {
  padding: 40px 0;
}
.news .heading {
  margin-bottom: 32px;
  text-align: center;
  font-size: 28px;
}
.news .news-list {
  display: flex;
  flex-wrap: wrap;
  --columns: 3;
  --gap: 24px;
  --h-image: 295px;
  --spacing: calc(((var(--columns) - 1) * var(--gap)) / var(--columns));
  gap: var(--gap);
}
.news .news__item {
  width: calc((100% / var(--columns)) - var(--spacing));
}
.news .news__link {
  display: inline-block;
  height: var(--h-image);
  text-decoration: none;
}
.news .news__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news .news-content {
  background-color: white;
  box-shadow: 0 16px 24px rgb(1 11 50 / 12%);
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - var(--h-image));
}
.news .news-content__title a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #111827;
  text-decoration: none;
}
.news .news-content__more {
  text-decoration: none;
  color: #3366ff;
  font-weight: 600;
  line-height: 24px;
  width: fit-content;
}
@media only screen and (max-width: 1023px) {
  .news .news-list {
    --columns: 2;
  }
}
@media only screen and (max-width: 767px) {
  .post .post-heading, .news .heading{
    font-size: 20px;
    line-height: normal;
  }
  .news .heading{
    margin-bottom: 20px;
  }
  .news .news-list {
    --columns: 1;
  }
  .news .news-content{
    padding: 12px;
  }
}
