.banner {
  background: url("../images/project-banner.png") 50% no-repeat;
  background-size: cover;
}
.banner .banner-content {
  color: var(--light-color);
  padding: 119px 0;
  max-width: 1032px;
  text-align: center;
  margin: 0 auto;
}
.banner .banner-content h1 {
  margin-bottom: 32px;
  font-size: 38px;
  font-weight: 600;
  height: 49.4px;
}
.banner .banner-content p {
  font-size: 18px;
  line-height: 27px;
}
.tab {
  padding: 32px;
}
.tab .tab-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tab .tab-list__item {
  padding: 6px;
  border: 1px solid #d9dbe1;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 600;
  color: inherit;
  transition: border-color 0.2s linear;
}
.tab .tab-list__item--active {
  background-color: #1939b7;
  color: var(--light-color);
}
.tab .tab-list__item:hover {
  border-color: #1939b7;
}

@media only screen and (max-width: 1439px) {
  .tab {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 767px) {
  .banner .banner-content {
    padding: 40px 0;
  }
  .banner .banner-content h1 {
    height: auto;
    font-size: 20px;
    margin-bottom: 14px;
  }
  .banner .banner-content p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 424px) {
  .pagination-item__link {
    --size-item: 40px;
  }
}
