.question {
  text-align: center;
  padding: 40px 0;
  --gap: 46px;
}
.question .heading {
  font-size: 42px;
}
.question .question-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
  --columns: 3;
  --spacing: calc(((var(--columns) - 1) * var(--gap)) / var(--columns));
  gap: var(--gap);
  list-style: none;
}
.question .question-item {
  width: calc((100% / var(--columns)) - var(--spacing));
}
.question .question-item__link,
.question-full {
  border-radius: 8px;
  border: 1px solid #1939b7;
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
  text-decoration: none;
  color: #1939b7;
  display: inline-block;
  width: 100%;
}
.question .question-item__link:hover,
.question-full:hover {
  transition: background 0.2s linear;
  color: var(--light-color);
  background: #1939b7;
}
.question .question-full {
  margin-top: var(--gap);
}
@media only screen and (max-width: 767px) {
  .question {
    --gap: 20px;
  }
  .question .heading {
    font-size: 28px;
  }
  .question .question-list {
    --columns: 1;
    padding-top: 28px;
  }
}
