.description {
  margin-bottom: 32px;
  display: block;
  color: #111827;
  font-size: 18px;
  line-height: 27px;
}
.description span {
  display: block;
}
/* Global element */

.tags {
  padding: 24px 0;
  transition: all 0.24s ease-in;
}
.tags .tags-list {
  list-style: none;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}
.tags .tags-item__link {
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  color: #374151;
  border-bottom: 2.8px solid transparent;
  position: relative;
  line-height: normal;
  transition: all 0.24s linear;
}
.tags .tags-item__link::after {
  content: "";
  position: absolute;
  bottom: -5.9px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1939b7;
  visibility: hidden;
}
.tags .tags-item__link:hover {
  color: #1939b7;
}
.tags .tags-item__link:hover.tags-item__link::after {
  visibility: visible;
}
.block {
  position: relative;
}
.block .block__image {
  width: 45vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.block .block__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.block .block-content {
  max-width: 688px;
  width: 100%;
  margin-left: auto;
  padding: 40px 0;
}
.block .heading {
  margin-bottom: 24px;
}
.block .block__border {
  border-top: 1px solid #e5e7eb;
}
.problem {
  padding: 40px 0;
  background-color: #f3f4f6;
}
.problem .problem__image {
  max-width: 622px;
  width: 100%;
}
.problem .problem__image img {
  width: 100%;
  object-fit: cover;
}
.problem .problem__container {
  display: flex;
  gap: 90px;
}
.problem .heading {
  margin-bottom: 24px;
}
.camera {
  background: url("https://vienthongvina.com/_nuxt/img/price-quote.b4e4d88.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  position: relative;
  padding: 60px 0;
  color: var(--light-color);
}
.camera::before {
  background-color: #050f5a;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  opacity: 0.88;
}
.camera .camera__heading {
  text-align: center;
  padding-bottom: 24px;
  font-size: 38px;
  font-weight: 600;
  line-height: 49.4px;
  color: var(--light-color);
}
.camera .camera__container {
  position: relative;
}
.camera .camera-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.camera .camera-content {
  text-align: left;
  max-width: 426px;
  width: 100%;
}
.camera .camera-content span {
  display: block;
}
.camera .camera-content p {
  font-size: 14px;
}
.camera .camera-table {
  flex: 1;
  overflow: hidden;
  border-radius: 14px;
  height: 100%;
}
.camera .camera-table__heading {
  background-color: #111827;
  padding: 20px 12px;
  text-align: center;
}
.camera .camera-table__main {
  background: var(--light-color);
  padding: 28px;
  color: #111827;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.camera .camera-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -8px;
}
.camera .camera-col {
  width: 100%;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}
.camera .camera-col div {
  position: relative;
  height: 42px;
}
.camera .camera-col ion-icon {
  position: absolute;
  top: 45%;
  right: 0.8rem;
}
.camera .camera-col select {
  width: 100%;
  height: 100%;
  background-color: #e5e7eb;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 7px 33.6px 7px 12px;
  font-size: 16px;
  margin-top: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}
.camera-table__main table {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  margin-top: 25px;
  width: 100%;
}
.camera-table__main table th {
  padding: 14px 0;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #878d9a;
}
.project {
  padding-top: 40px;
}
.project .heading {
  font-size: 28px;
  text-align: center;
  margin-bottom: 24px;
}
.project .btn {
  margin-top: 24px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.project .item {
  cursor: pointer;
}
.project .item img {
  height: 100%;
  height: 292px;
  object-fit: cover;
}
.project .project-content {
  padding: 24px;
  background: #f3f4f6;
}
.project .project-content__heading {
  color: #111827;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.project .project-content__link {
  color: #254edb;
  margin-top: 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
}
.client {
  padding: 40px 0;
  background: #000118;
  border-bottom-right-radius: 12rem;
}
.client .client__container {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.client .client-left {
  max-width: 438px;
  width: 100%;
  text-align: center;
}
.client .client-left__heading {
  text-align: left;
  color: var(--light-color);
  line-height: 36.4px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 62px;
}
.client .client-right {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  --columns: 2;
  --gap: 48px;
  --spacing: calc(((var(--columns) - 1) * var(--gap)) / var(--columns));
  gap: var(--gap);
}
.client .client-right__item {
  padding: 32px 24px;
  background-color: #111827;
  width: calc((100% / var(--columns)) - var(--spacing));
}
.client .client-content {
  color: var(--light-color);
}
.client .client-content h4 {
  padding: 32px 0 16px 0;
}
.client .client-content p {
  color: #d1d5db;
}
