.banner {
  background: url("../images/services-bg.jpg") 50% no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.banner .banner-content {
  color: var(--light-color);
  max-width: 802px;
  width: 100%;
}
.banner .banner-content__heading {
  font-size: 38px;
  font-weight: 600;
}
.banner .banner-content__desc {
  font-size: 18px;
  margin-top: 20px;
}
.product {
  padding: 40px 0 90px 0;
}
.product .product-wrapper {
  display: flex;
  flex-wrap: wrap;
  --h-image: 217px;
  --columns: 4;
  --gap: 24px;
  --spacing: calc(((var(--columns) - 1) * var(--gap)) / var(--columns));
  gap: var(--gap);
}
.product .product-item {
  width: calc((100% / var(--columns)) - var(--spacing));
  overflow: hidden;
  box-shadow: 0 16px 24px rgb(1 11 50 / 12%);
  cursor: pointer;
}
.product .product-item:hover {
  box-shadow: 0 8px 25px rgb(37 56 88 / 15%);
  transition: 0.24s linear;
}
.product .product-item img {
  object-fit: cover;
  width: 100%;
  height: var(--h-image);
}
.product .product-item__content {
  padding: 16px;
  background: var(--light-color);
  height: calc(100% - var(--h-image));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product .product-item__content h2 {
  font-size: 16px;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.product .product-item__content h2,
.product-item__content a {
  font-weight: 600;
  line-height: 24px;
}
.product .product-item__content a {
  text-decoration: none;
  color: #254edb;
}
