* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
}
body {
  font-size: 16px;
  color: var(--dark-color);
  line-height: 1.5;
}
html {
  font-family: Nunito Sans, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
:root {
  --primary-color: #ff5100;
  --light-color: #ffff;
}
/* Global class element */
.container {
  max-width: 1536px;
  padding-right: 80px;
  padding-left: 80px;
  margin: 0 auto;
}
#up-top {
  background-color: #2061b3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 5.5rem !important;
  right: 28px;
  cursor: pointer;
  transition: all 0.29s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}
#up-top:hover {
  background-color: #3284db;
}
#up-top.active {
  opacity: 1;
  bottom: 40px;
  visibility: visible;
}
#up-top svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}
.phone {
  position: relative;
  z-index: 9999;
}
.phone .phone-wrapper {
  left: 1rem;
  background-color: red;
  position: fixed;
}
.phone .phone-message {
  /* display: none; */
  position: absolute;
  right: 1rem;
  bottom: 0;
  background-color: var(--light-color);
  padding: 12px 0;
}
.quick-alo-phone .quick-alo-show {
  visibility: visible;
}
.quick-alo-phone {
  position: absolute;
  visibility: hidden;
  background-color: transparent;
  height: 200px;
  width: 82px;
  height: 64px;
  right: 8px;
  top: 8px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility 0.5s;
}
.quick-alo-phone .quick-alo-green .quick-alo-ph-circle {
  border-color: #00a1ff;
  opacity: 0.5;
}
.quick-alo-ph-circle {
  position: fixed;
  width: 160px;
  height: 160px;
  top: 28px;
  left: 28px;
  border: 2px solid #00a1ff;
  background-color: transparent;
  border-radius: 100%;
  opacity: 0.1;
  animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}
.quick-alo-phone .quick-alo-green .quick-alo-ph-circle-fill {
  background-color: rgb(246, 202, 98);
  opacity: 0.75 !important;
}
.quick-alo-ph-circle-fill {
  position: fixed;
  width: 90px;
  height: 90px;
  bottom: 8px;
  right: 8px;
  background-color: rgb(255 81 0);
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.1;
  animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}
.quick-alo-phone.quick-alo-green .quick-alo-ph-img-circle {
  background-color: #00a1ff;
}
.quick-alo-ph-img-circle {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 28px;
  right: 28px;
  background: var(--primary-color)
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABrklEQVRYR82XjTEEQRCFX0dABlwEiAARkAEyIAJEoERACETARUAIJwIyeOqptfbm5qeP3lpTdVVXVzPd3/R0v+4zTLxsYv/4XwAkrwDsV6JyZmaLyKj1ESB5AOCpYfzazAQZttYFuDWz8zDvwE8OkNwF8NIwvjCz2SgAMkqSDuOzyDxYqgKSrwB2GhBKxHsHqGtLCiDDJ42Tj2Z27LLu2JQCnAK4a5x7M7Nth23XlhRgE8B74+SemempQtaKEpKsPUPo++sGOYCSIIU7zwJ05ficSLLkV6H/CIn7wEi2GRVkOVwFixEoREE/hz9DsR2TVKkp2zeSsI9bBUNnJNV4bhIA5cFhVCk2B5JCWVYhSEopjwAob6qa4QGQOKkqcj1iJSdIpmoqWEHIhr7Ph1BNgC4haxAPAC7UITPOc1UrCOXR12TlAnBAyKhAdHvPUg4pIn6AAYQc1ebG8QC+LXfD66XHU2HP7yKQlKhGODWu1gCTY/g7wCAaendNyltrRCQOIAERjCc/ejV1V4H3dp2ES4jU1vVJpXxpogoHSEE7oOEIp9G+/3c1OkArcpMDfAIqL6EhVS6JOAAAAABJRU5ErkJggg==")
    no-repeat center center;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.99;
  animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
}
.quick-alo-phone .quick-alo-green .quick-alo-hover .quick-alo-ph-img-circle,
.quick-alo-phone.quick-alo-green:hover .quick-alo-ph-img-circle {
  background-color: #ff0101;
}
@-moz-keyframes quick-alo-circle-anim {
  0% {
    -moz-transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
    -moz-opacity: 0.1;
    -webkit-opacity: 0.1;
    -o-opacity: 0.1;
  }
  30% {
    -moz-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    -o-opacity: 0.5;
  }
  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    -o-opacity: 0.1;
  }
}
@-webkit-keyframes quick-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-o-keyframes quick-alo-circle-anim {
  0% {
    -o-transform: rotate(0) kscale(0.5) skew(1deg);
    -o-opacity: 0.1;
  }
  30% {
    -o-transform: rotate(0) scale(0.7) skew(1deg);
    -o-opacity: 0.5;
  }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg);
    -o-opacity: 0.1;
  }
}
@-moz-keyframes quick-alo-circle-fill-anim {
  0% {
    -moz-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -moz-transform: rotate(0) -moz-scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -moz-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes quick-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-o-keyframes quick-alo-circle-fill-anim {
  0% {
    -o-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -o-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-moz-keyframes quick-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -moz-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg);
  }
}
@-webkit-keyframes quick-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@-o-keyframes quick-alo-circle-img-anim {
  0% {
    -o-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.btn {
  color: var(--light-color);
  background: var(--primary-color);
  border-radius: 4px;
  line-height: 28px;
  padding: 11px 40px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
}
.btn:hover {
  background: #db3700;
  transition: linear 0.2s;
}
.heading {
  font-size: 38px;
  font-weight: 600;
  line-height: 49.4px;
  color: var(--light-color);
}
.heading--dark {
  color: var(--dark-color);
}
/* Global class element */
.header {
  position: relative;
}
.header .header-top {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--light-color);
  z-index: 9999;
  width: 100%;
  border-bottom: 1.5px solid #d9dbe1;
}
.header .header-top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header .header-left {
  display: flex;
}
.header .header-group + .header-group {
  margin-left: 38px;
}
.header .header-group {
  display: flex;
  align-items: center;
}
.header .header-group__dots {
  --size-dots: 8px;
  position: relative;
  display: flex;
  width: var(--size-dots);
  height: var(--size-dots);
  margin-right: 6px;
}
.header .header-group__dots span:nth-child(1) {
  width: var(--size-dots);
  height: var(--size-dots);
  border-radius: var(--size-dots);
  background-color: var(--primary-color);
  display: inline-block;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  position: absolute;
  top: 0;
  left: 0;
}
@-webkit-keyframes ping {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ping {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}
.header .header-group__dots span:nth-child(2) {
  width: var(--size-dots);
  height: var(--size-dots);
  border-radius: var(--size-dots);
  background-color: var(--primary-color);
  display: inline-block;
}
.header .header-group__text {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 6px;
}
.header .header-group__phone {
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
}
.header .header-right {
  padding-left: 20px;
}
.header .header-right__text {
  text-transform: uppercase;
  color: #374151;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}
.header .header-right__text:hover {
  color: var(--primary-color);
  transition: color 0.2s linear;
}
.header .header-right__gap {
  margin: 0 12px;
}
.header .header-bottom {
  padding: 49px 0 14px 0;
}
.header .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-menu {
  padding: 0 80px;
}
@media only screen and (max-width: 1400px) {
  .header .header-menu {
    padding: 0 20px;
  }
}
.header .header-logo {
  width: 132px;
  height: 48px;
  display: block;
}
.header .header-logo img {
  width: 100%;
  height: 100%;
}
.header .header-menu__item {
  display: inline-block;
}
.header .header-menu__link {
  display: block;
  text-decoration: none;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
  color: var(--dark-color);
}
.header .header-menu__link:hover {
  color: var(--primary-color);
  transition: linear 0.2s;
}
.header .header-menu__item:not(:first-child) {
  margin-left: 25px;
}
.header .header-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}
.header .header-search {
  display: flex;
  justify-content: space-between;
  max-width: 362px;
  width: 100%;
  height: 42px;
  padding: 7px 40px 6px 16px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  position: relative;
}
.header .header-search__input {
  line-height: 150%;
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16.8px;
}
.header .header-search__icon {
  max-width: 24px;
  right: 0.6rem;
  position: absolute;
}
.header .header-wrapper__border {
  width: 1px;
  height: 47px;
  background-color: #9ca3af;
  margin: 0 20px;
}
.header .header-login {
  padding: 14px 25.1px;
  border: 1px solid #d9dbe1;
  border-radius: 4px;
  display: inline-flex;
  font-size: 16px;
  text-decoration: none;
  color: initial;
  line-height: 150%;
  flex-shrink: 0;
  font-weight: 400;
  position: relative;
}
.header .header-login:hover .header-login__text {
  color: var(--primary-color);
}
.header .header-login:hover .header-login__list {
  display: block;
}
.header .header-login__list {
  --size-triangle: 10px;
  position: absolute;
  left: 50%;
  bottom: var(--size-triangle);
  transform: translateX(-50%) translateY(calc(100% + 36px));
  background-color: var(--light-color);
  padding: 16px;
  display: none;
  list-style: none;
  z-index: 50;
  box-shadow: 0 4px 8px rgb(1 11 50 / 10%);
  border-radius: 0.1875rem;
  width: 250px;
  text-align: center;
}
.header .header-login__list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 41px;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.header .header-login__list-triangle {
  position: absolute;
  top: calc(var(--size-triangle) * -1);
  left: 50%;
  transform: translateX(-50%);
  border-left: var(--size-triangle) solid transparent;
  border-right: var(--size-triangle) solid transparent;
  border-bottom: var(--size-triangle) solid var(--light-color);
}
.header .header-login__list-item {
  padding: 0 40px;
  --h-item: 42px;
  min-height: var(--h-item);
  line-height: var(--h-item);
  background-color: #1939b7;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  color: var(--light-color);
  font-weight: 600;
  font-size: 16px;
}
.header .header-login__list-item:hover {
  opacity: 0.8;
  transition: opacity linear 0.2s;
}
.header .header-login__list-item--orange {
  background-color: var(--primary-color);
}
.header .header-login__list-item:not(:last-child) {
  margin-bottom: 8px;
}
.header .header-login__user {
  max-width: 24px;
  margin-right: 10px;
}
.header .header-cart {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}
.header .header__cart-icon {
  max-width: 24px;
}
.header .header__cart-count {
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-size: 14px;
  --size-count: 24px;
  width: var(--size-count);
  height: var(--size-count);
  line-height: var(--size-count);
  border-radius: var(--size-count);
  background: #fdd835;
  text-align: center;
}
.hero {
  background: url("./images/hero-bg.jpg") 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 100px 0;
  height: 700px;
}
.hero .hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.hero .hero-content {
  color: var(--light-color);
  max-width: 600px;
  width: 100%;
}
.hero .heading {
  font-size: 44px;
}
.hero .hero-content__desc {
  font-size: 18px;
  line-height: 27px;
  padding: 24px 0 38px;
}
.hero .hero-image img {
  max-width: 100%;
}
.client {
  padding: 40px 0;
  position: relative;
}
.client::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    218.23deg,
    #f1f6ff 16.27%,
    rgba(215, 228, 255, 0.18) 96.56%
  );
  width: 74%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}
.client .client__container {
  display: flex;
  justify-content: space-between;
}
.client .client-bg {
  background: url("./images/client-bg.png") 50% no-repeat;
  background-size: cover;
  border-radius: 0 100px 0 0;
  color: var(--light-color);
  margin-right: 40px;
  position: relative;
}
.client .client-bg__dots {
  position: absolute;
  top: -1.8rem;
  left: -4.7rem;
  z-index: -1;
}
.client .client-bg__content {
  max-width: 426px;
  width: 100%;
  margin: 80px auto 0;
}
.client .heading {
  margin-bottom: 32px;
}
.client .client-bg,
.client-main {
  width: 50%;
}
.client .client-item {
  padding: 26px;
  background-color: var(--light-color);
  display: flex;
  align-items: start;
}
.client .client-item:hover {
  box-shadow: 0 16px 24px rgb(1 11 50 / 12%);
  transition: linear 0.2s;
}
.client .client-item:not(:last-child) {
  margin-bottom: 16px;
}
.client .client-item__content {
  padding: 0 26px;
}
.client .client-item__content-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
  color: #111827;
}
.client .client-item__content-desc {
  color: #374151;
  line-height: 24px;
}
.client .client-main {
  position: relative;
}
.client .client-bg__dots2 {
  position: absolute;
  bottom: -2rem;
  right: -2.7rem;
  z-index: -1;
}
.services {
  --h-image: 215px;
  background: #050f5a;
  padding: 100px 0;
  text-align: center;
}
.services .heading {
  margin-bottom: 50px;
}
.services .services-item {
  background-color: var(--light-color);
  cursor: pointer;
}
.services .services-item__image {
  height: var(--h-image);
  object-fit: cover;
}
.services .services-content {
  padding: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - var(--h-image));
}
.services .services-content__title {
  color: #111827;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.services .services-content__more {
  color: #254edb;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}
.services .owl-theme .owl-dots {
  margin-top: 28px;
}
.services .owl-theme .owl-dots .owl-dot.active span {
  background: var(--primary-color) !important;
}
.services .owl-carousel .owl-nav button.owl-prev,
.services .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  font-size: 80px !important;
  color: #0179fc !important;
}
.services .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.services .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
.services .services-icon {
  max-width: 40px;
}
.services .owl-theme .owl-nav [class*="owl-"]:hover {
  background: unset !important;
}
.category {
  padding: 40px;
  text-align: center;
  background-color: #f3f4f6;
}
.category .heading {
  margin-bottom: 24px;
}
.category .category-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  min-height: 413px;
}
.category .category-left {
  width: 25%;
  padding: 18px;
  background-color: var(--light-color);
  text-decoration: none;
}
.category .category-left__image {
  object-fit: cover;
  width: 100%;
  height: 307px;
}
.category .category-left .category-content {
  margin-top: 18px;
}
.category .category-content__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: initial;
}
.category .category-content__count {
  color: #9ca3af;
  font-size: 12px;
  line-height: 18px;
}
.category .category-right {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  --columns: 3;
  --gap: 4px;
  --spacing: calc(((var(--columns) - 1) * var(--gap)) / var(--columns));
  gap: var(--gap);
}
.category .category-right__item {
  width: calc((100% / var(--columns)) - var(--spacing));
  padding: 18px;
  display: flex;
  background-color: var(--light-color);
  text-decoration: none;
}
.category .category-right .category-content {
  text-align: left;
  margin: 40px 0 0 16px;
}
.category .category-left:hover,
.category-right__item:hover {
  box-shadow: 0 16px 24px rgb(1 11 50 / 12%);
  transition: box-shadow linear 0.2s;
}
.category .category-right__item-image {
  object-fit: cover;
  max-width: 145px;
  width: 100%;
  height: 170px;
}
.product {
  --h-image: 217px;
  --gap-image: 20px;
  padding-top: 40px;
  text-align: center;
}
.product .heading {
  margin-bottom: 30px;
}
.product .product-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  --columns: 5;
  --gap: 4px;
  --spacing: calc(((var(--columns) - 1) * var(--gap)) / var(--columns));
  gap: var(--gap);
}
.product .product-item {
  width: calc((100% / var(--columns)) - var(--spacing));
  padding: 16px;
  border: 1px solid #e5e7eb;
  text-decoration: none;
  transition: all ease-in 0.2s;
}
.product .product-item:hover {
  box-shadow: 0 8px 25px rgb(37 56 88 / 15%);
  border-color: #ff5100;
}
.product .product-item:hover .product-item__image img {
  transform: scale(0.9);
}
.product .product-item__image {
  max-width: 214px;
  height: var(--h-image);
  margin: 0 auto var(--gap-image);
}
.product .product-item__image img {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  transition: transform 0.2s linear;
}
.product .product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - var(--h-image) - var(--gap-image));
  text-align: left;
}
.product .product-content__top-title {
  font-weight: 600;
  line-height: 24px;
  color: initial;
  padding-bottom: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e7eb;
}
.product .product-content__top-title span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.product .product-content__bottom-title {
  color: #6b7280;
  font-weight: normal;
  text-transform: capitalize;
}
.product .product-content__bottom-price span {
  font-weight: 600;
  color: var(--primary-color);
}
.product .product-content__bottom-price s {
  font-size: 14px;
  color: initial;
}
.product .btn {
  margin-top: 30px;
}
.partner {
  padding-top: 80px;
  text-align: center;
}
.partner .owl-carousel:not(:last-child) {
  margin: 50px 0;
}
.work {
  padding-top: 80px;
}
.work .heading {
  margin-bottom: 40px;
}
.work .work__container {
  display: flex;
  justify-content: space-between;
}
.work .work-left {
  max-width: 802px;
  width: 100%;
  padding-right: 40px;
}
.work .work-left__item {
  --smooth-effect: all 0.1s linear;
  --color-item: #3366ff;
  --gap-item: 16px;
  display: flex;
  align-items: center;
  padding-bottom: var(--gap-item);
  margin-bottom: var(--gap-item);
  border-bottom: 1px solid #9ca3af;
  transition: var(--smooth-effect);
}
.work .work-left__item:hover {
  border-color: var(--color-item);
  cursor: default;
}
.work .work-left__item:hover .work-left__item-text {
  color: var(--color-item);
}
.work .work-left__item-text {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  transition: var(--smooth-effect);
  letter-spacing: 2px;
  color: #3d434f;
}
.work .work-left__item-text + .work-left__item-text {
  margin-left: 28px;
  letter-spacing: normal;
}
.work .work-right {
  max-width: 573px;
  width: 100%;
}
.work .work-right__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work .btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 45px;
}
.brand {
  padding-top: 140px;
  text-align: center;
}
.brand .heading {
  margin-bottom: 24px;
}
.brand .brand__description {
  font-size: 18px;
  line-height: 27px;
  color: #6b7280;
  font-weight: 400;
}
.brand .brand-wrapper {
  padding-top: 32px;
}
.brand .brand-wrapper img {
  width: 100%;
  height: 100%;
}
.brand .brand-mobile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  --columns: 2;
  --gap: 12px;
  --spacing: calc(((var(--columns) - 1) * var(--gap)) / var(--columns));
  gap: var(--gap);
  display: none;
}
.brand .brand-mobile__item {
  width: calc((100% / var(--columns)) - var(--spacing));
  box-shadow: 0 4px 8px rgb(1 11 50 / 10%);
  padding: 16px 12px;
  border-radius: 0.75rem;
}
.brand .brand-mobile__item-logo {
  max-width: 100%;
  height: 100%;
}
.support .support-wrapper {
  background-color: #1939b7;
  padding: 40px 20px;
  color: var(--light-color);
  text-align: center;
  min-height: 225px;
  transform: translateY(50%);
}
.support .support-wrapper__caption {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 4px;
}
.support .support-wrapper__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
}
.support .support-form {
  display: flex;
  justify-content: space-between;
  max-width: 1188px;
  height: 52px;
  width: 100%;
  margin: 0 auto;
}
.support .support-form__input {
  flex: 1;
}
.support .support-form__input + .support-form__input {
  margin: 0 28px;
}
.support .support-form__input input {
  width: 100%;
  height: 100%;
  font-family: inherit;
  padding: 20px;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 16px;
  line-height: 150%;
  outline: 2px solid transparent;
}
.support .support-form__input ::placeholder {
  font-size: 18px;
}
.footer {
  padding: 140px 0 40px 0;
  background-color: #374151;
}
.footer .footer-wrapper {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1.2fr;
  grid-gap: 20px;
}
.footer .footer-column__logo {
  max-width: 187px;
  height: 80px;
  margin-bottom: 26px;
}
.footer .footer-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--light-color);
  text-transform: uppercase;
  margin-bottom: 26px;
}
.footer .footer-title--second {
  margin: 16px 0;
}
.footer .footer-list {
  list-style: none;
}
.footer .footer-column:last-child .footer-item {
  font-size: 12.5px;
}
.footer .footer-item {
  font-size: 14px;
  line-height: 21px;
  color: #d1d5db;
}
.footer .footer-item__link {
  display: inline-block;
  color: inherit;
  margin-bottom: 8px;
  text-decoration: none;
}
.copyright {
  padding: 16px 0;
  background-color: #222a38;
  color: #d9dbe1;
  font-size: 16px;
}
.copyright .copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright .copyright__social-link {
  display: inline-block;
  width: 34px;
}
.copyright .copyright__social-link:not(:first-child) {
  margin-left: 24px;
}
.copyright .copyright__social-link img {
  width: 100%;
  vertical-align: middle;
}
